name: Flutter CI

# Trigger the workflow on push or pull request to the main branch
on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      # 1. Check out the code from the repository
      - name: Checkout code
        uses: actions/checkout@v6

      # 2. Set up the Flutter environment
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          pubspec-path: ./app/pubspec.yaml

      # 3. Get dependencies
      - name: Install dependencies
        run: flutter pub get

      # 4. (Optional) Check for formatting issues
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed lib

      # 5. Static analysis (Linter)
      - name: Analyze code
        run: flutter analyze --fatal-infos --fatal-warnings

      # 6. Run the actual tests
      - name: Run tests
        run: flutter test --no-pub